.sideimage {
    background-color: pink;
    display: flex;
    flex: 1;
    height: 100%;
    width: 37vw;
    background-image: url("fatima-akram-uU0Anw-8Vsg-unsplash.jpg");
    background-size:cover;
    align-items: center;
    justify-items: center;
}

.userinput {
    background-color: brown;
    height: 100%;
    width: 68vw;
   display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    flex: 1;
}

html,body {
    max-height: 100%;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.all {
    flex-direction: row;
    display: flex;
    margin: 0;
    padding: 0;
    justify-items:center;
    width: 100%;
    height: 100vh;
}

img {
    width: 40vw;
    height: 100%;
}

.ht {
    font-size: 2.8rem;
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    width:33vw;
    padding: 4rem;
    text-align: center;
    display: flex;
}

.hovertext {
    max-width: fit-content;
    box-sizing: border-box;
}

.inspire {
    font-size: 3rem;
    color: white;
    margin-left: 3%;
    margin-top: 5%;
}

.userinputbox {
    justify-items: center;
    align-items: center;
    align-self: center;
}

fieldset {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 1vh;
}
button {
    width: 15rem;
    height: 3rem;
    margin-top: 2vh;
    margin-left: 1vh;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: blue;
    color: white;
    border: 1.5px solid white;
    border-radius: 1vh;
}
label {
    max-width: 50%;
}