:root {
    --imagesize: 41vw;
}

@font-face {
    font-family: Cinzel;
    src: url(Cinzel/static/Cinzel-Regular.ttf);

    font-family: Xheighting;
    src: url(/XHeighting-7BB4l.ttf);
}

.sideimage {
    background-color: pink;
    display: flex;
    height: 100%;
    width: var(--imagesize);
    background-image: url("behnam-norouzi-mp11_hrQXf8-unsplash.jpg");
    background-size: 100% 100%;
    align-items: center;
    justify-items: center;
}

.userinput {
    background-color: #242124;
    height: 100%;
    width: 68vw;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    flex: 1;
}

html,
body {
    max-height: 100%;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.all {
    flex-direction: row;
    display: flex;
    margin: 0;
    padding: 0;
    justify-items: center;
    width: 100%;
    height: 100vh;
}

img {
    width: 40vw;
    height: 100%;
}

h2 {
    font-size: 4.5rem;
    color: white;
    text-align: center;
    font-family: Xheighting;
    text-shadow: 0rem 0.3rem black;
    margin-left: 2rem;
}

.thetext {
    background-color: rgba(100, 100, 100, 0.8);
    height: 2rem;
    padding: 4rem;
    display: flex;
    width: var(--imagesize);
    flex-direction: row;
    align-items: center;
    margin:0;

}

.hovertext {
    max-width: fit-content;
    box-sizing: border-box;
}

label,input {
    font-weight: b;
    height: 2.5vh;
}

input {
    border-radius: 1vh;
    width:12vw;
}

.inspire {
    font-size: 1.5rem;
    color: white;
    margin-left: 3%;
    margin-top: 2%;
    font-family: Xheighting;
    font-weight: lighter;
}

.userinputbox {
    justify-items: center;
    align-items: center;
    align-self: center;
}

fieldset {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-top: 20vh;
    margin-left: 0vh;
    padding: 5vh;
    border:0ch;
    background-color: white;
}

.inputdiv {
    padding: 1vh;
    flex-direction: column;
    display: flex;
    text-align: start;
}

button {
    width: 15rem;
    height: 3rem;
    margin-top: 2vh;
    margin-left: 1vh;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: blue;
    color: white;
    border: 1px solid white;
    border-radius: 1vh;
}